    
    body{
        font-family: Gotham Round;

    }
    .quiz{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
    }

    .flex-timer{
        display: flex;
        flex-direction: row;
        margin-left: 70%;
    }
    .flex-timer > div{
      margin: 3px;
    }

    .high-score{
        background-color: blueviolet;
        width: 150px;
        height: 25px;
        margin-top: 5px;
        
        text-indent: 10px;
        font-size: large;

    }
    .high-score + h5{
        position: fixed;
        background-color: rgb(rgb(137, 6, 95), green, blue)
    }
    .question1-div{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
        margin-top: 3px;
    }

    .question2-div{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
        margin-top: 3px;
    }
    
    .question3-div{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
        margin-top: 3px;
    }

    .question4-div{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
        margin-top: 3px;
    }

    .question5-div{
        border: 2px solid rgba(0, 0, 0, 0.618);
        padding-left: 10%;
        width: 800px;
        max-width: 80%;
        margin-top: 3px;
    }
     